KafkaClient {
   org.apache.kafka.common.security.plain.PlainLoginModule required
   username="user"
   password="password";
   };
KafkaServer {
   org.apache.kafka.common.security.plain.PlainLoginModule required
   username="user"
   password="password"
   user_user="password"
   user_user="password";
   org.apache.kafka.common.security.scram.ScramLoginModule required;
   };
Client {
   org.apache.kafka.common.security.plain.PlainLoginModule required
   username="kafka"
   password="kafka_password";
   };